body {
    background-image: url(../images/backgrnd.jpg);
    background-size: 100%; 
    margin: 0%;
    padding: 0%;
}

.menu {
    background-color: #3a86dd;
    width: 100%;
    height: 80px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    word-spacing: 5cm;
}

.menu a {
    display: inline-block;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
    font: 45pt serif;
    text-decoration: none;
    color: white;
    
}

.menu a:hover {
    color: #3a86dd; /* Цвет ссылки при наведении на нее курсора мыши */  
    background-color: white; /* Добавляем подчеркивание */
   }

.name {
    text-align: center;
    color: white;
}

.descr {
    background-color: cadetblue;
    margin-left: 450px;
    margin-right: 25%;
    width: 960px;
    text-align: center;
    color: white;
    font: 15pt serif;
    display: inline-block;
}

.usersTable a {
    color: white;
    text-decoration: none;
    text-align: center;
    width: 100%;
    margin: auto;
}

.usersTable a:hover {
    color: #3a86dd;
   }

.table, th, td {
    text-align: center;
    color: white;
    border: 1px solid white;
    border-collapse: collapse;
    width: 30%;
    margin-left: 450px;
}

.user {
    color: white;
    text-align: center;
}

.keys {
    text-align: center;
    color: white;
    word-spacing: 3cm;
}

.keys a {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}

.game {
    color: white;
    font: 15pt serif;
}